
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Search Subject</h2>

<div id="ClassDrp">
    @Html.Action("CountryView")
</div>
<div id="SubjectDrp">
    @Html.Action("CountryView")
</div>
<div id="SubjectDetails">
    @Html.Action("CountryView")
</div>
